:root {
  --ion-color-primary: #2e7d32;
  --ion-color-primary-rgb: 46, 125, 50;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #286e2c;
  --ion-color-primary-tint: #438a47;

  --ion-color-secondary: #ff8f00;
  --ion-color-secondary-rgb: 255, 143, 0;
  --ion-color-secondary-contrast: #000000;
  --ion-color-secondary-contrast-rgb: 0, 0, 0;
  --ion-color-secondary-shade: #e07e00;
  --ion-color-secondary-tint: #ff9a1a;

  --ion-color-tertiary: #5c6bc0;
  --ion-color-tertiary-rgb: 92, 107, 192;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #515ea9;
  --ion-color-tertiary-tint: #6c7ac6;

  --ion-color-success: #4caf50;
  --ion-color-success-rgb: 76, 175, 80;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #439946;
  --ion-color-success-tint: #5eb762;

  --ion-color-warning: #ff9800;
  --ion-color-warning-rgb: 255, 152, 0;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e08600;
  --ion-color-warning-tint: #ffa21a;

  --ion-color-danger: #f44336;
  --ion-color-danger-rgb: 244, 67, 54;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #d73a2f;
  --ion-color-danger-tint: #f5564a;

  --ion-color-medium: #9e9e9e;
  --ion-color-medium-rgb: 158, 158, 158;
  --ion-color-medium-contrast: #000000;
  --ion-color-medium-contrast-rgb: 0, 0, 0;
  --ion-color-medium-shade: #8b8b8b;
  --ion-color-medium-tint: #a8a8a8;

  --ion-color-light: #f5f5f5;
  --ion-color-light-rgb: 245, 245, 245;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d8d8d8;
  --ion-color-light-tint: #f6f6f6;
}
